@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0
    padding: 0
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: red;
}

/* full header width */
.nav-bar {
    width: 100%;
}

/* container within full header width */
.container {
    width: 90%;
    margin: auto;
    max-width: 1050px;
}

/* container in which to hold hamburger menu list drop-down */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    /* position: relative; */
}

.nav-bar .nav-menu {
    display: flex;
}

.nav-bar .nav-container li {
    list-style: none;
}


.nav-bar .nav-container a {
    text-decoration: none;
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.nav-bar .nav-container a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: #3a3a3a;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height:30px;
    width:30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hamburger lines */
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #3a3a3a;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav-bar .nav-menu {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.nav-bar .nav-menu li {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.website-logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .nav-menu {
    transform: translateX(0);

}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .website-logo {
    display: none;
}

